.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  margin: 0px auto;
  
}
/* Menu  */

.dropdown-menu {
  display: flex;
}
.dropdown-menu ul {
  list-style-type: none;
  display: flex;
  align-content: stretch;
  padding: 0px;
  margin: 0px;
}

.menu_ele {
  display: block;
  color: white;
  margin-left: 40px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 12px;
  font-size: 1.26rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.menu_ele::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  margin-top: 12px;
  background: #fff;
  transition: width .3s;
}

.dropdown-menu ul li .menu_ele:hover::after {
  width: 50%;
  transition: width .6s;
}

input#checkbox {
  display: none;
}

#burger {
  display: none;
}


#burger span {
  background: #ffffff;
  display: block;
  width: 28px;
  height: 3px;
  margin-bottom: 6px;
  position: relative;
  top: 0;
  transition: all ease-in-out 0.4s;
}
#burger span:nth-child(3) {
  margin-bottom: 0;
}

@media (max-width: 540px) {
  #burger {
    display: block;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .menu_ele {
    display: -webkit-box;
    padding: 20px 0;
    font-size: 1.6rem;
  }
  .menu-content {
    height: 0;
    overflow: hidden;
    transition: all ease-out 0.2s;
  }
  .dropdown-menu ul {
    flex-direction: column;
    align-items: flex-end;
    margin: 0px;
  }
  .dropdown-menu ul li {
    padding-bottom: 12px;
  }
  input:checked ~ .menu-content {
    margin-top: 36px;
    height: 100%;
  }

  input:checked ~ #burger span:nth-child(2) {
    width: 0;
    opacity: 0;
  }
  input:checked ~ #burger span:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
    width: 28px;
  }
  input:checked ~ #burger span:nth-child(3) {
    transform: rotate(-45deg);
    top: -9px;
    width: 28px;
  }

  .header {
    align-items: unset;
  }
}
.css-icons-sttl a {
  display: block;
}
